body {
    position: relative;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-size: 1em;
    font-weight: 400;
    color: #333;
}

a, a:visited {
    color: steelblue;
}

a:hover {
    color: navy;
}

.wrapper {
    width: 80%;
    margin: 0 10%;
}

.spa-title {
    font-size: 1.2em;
    text-align: center;
}

menu {
    margin-top: 2em;
    padding: 0;
    text-align: center;
}

menu a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 15px;
    text-decoration: none;
}

menu a:hover, menu a.active {
    background-color: steelblue;
    color: white;
}

.page-title {
    text-align: center;
}

ul li {
    list-style-type: circle;
}