@media screen and (min-width: 1541px) {
	#text51 {padding-left:51px;}
	#text52 {padding-left:51px;max-width:930px;}
	#text53 {padding-bottom:100px;}
	#btn21 {padding-left:41px;}
	#tabs_inv{    position: absolute;
    margin-top: 220;
		
	}
	#contact-form-3 {width: 40%;margin: 20% 50%;display: flex;background: black; padding: 20;}
	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:100%;}
	#price {padding-left:1px; padding-right:1;}
	.imgblock {position: relative;display: flex;padding-left:1;flex-wrap:wrap;}
	.text1 {position: relative;left: 2%;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 24px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 13px;padding: 5px 7px;}	
	#block50 {padding:5px;}
	#carouselExampleControls11 {padding-left:0px;}
	#btn25 {left:173px;}
	#btn24 {margin-right:-20px;}
	#text54 {padding-top:10px;text-align:end;padding-right:60px;}
	#text55 {text-align:end;padding-right:25px;padding-top: 25;}
	h3{font-size:48px;line-height:54px}
	.imb{position:fixed;width:100%;z-index:-1;filter: brightness(0.7)contrast(120%);}
	.text5 {position: absolute;left: 60px;bottom: 30%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 32px;padding: 5px 7px;}
	.text6 {position: absolute;left: 60px;top: 80%;max-width: 40%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 16px;padding: 5px 7px;}
	.text7 {position: absolute;left: 60px;top: 88%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 14px;padding: 5px 7px;}
	.text10 {position: absolute;left: 60px;bottom: 99%;font-size: 35px;color: white;}
	.cont-text2 h1{font-size: 36px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;padding-top: 20;}
	#text56 {background-color:#000;padding-left: 51px;}
	.tabs{    padding-left: 51px;
    /* background-color: #000; */
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    z-index: 1;
    padding-top: 20;
}
	.item{position: relative;padding-left:0px;width: 100%;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.item_reverse{position: relative;width: 60%;height: 800px;padding-left:50px;overflow:hidden;}
	.cont-text h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;line-height: 1 em;letter-spacing: 0em;}
	.cont-text p{margin-top: 20px;margin-bottom: 5px;font-size: 14px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 1.37em;letter-spacing: 0em;display: block;flex-direction: column; align-items: baseline;}
	.price p{margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:14px;line-height:20px;}
	.tabl th{text-align: center;padding-left:30px;font-size: 18px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{border-width: 0;padding-top:25px;margin: -20;}
	.content{display: flex;flex-direction:row;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.content-wrap {display:flex;padding-top: 7%;flex-wrap: wrap;}
	.item2{position: relative;width: 100%;}
	#block51 {padding-left:51px;}
	#block52 {padding-left:40%;padding-right:20%;}
	.padding-five-all {padding-top:00;}
	#block53 {padding-left:21px;}
	#block54 {padding-left:30px;padding-top:30px;}
	#block55 {padding-right:50px;}
	.no-margin-lr{margin-left:0 !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;padding:9px 34px;line-height:25px}
	#img55 {height:45em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 350px;}
	#link1 {padding-left:50px;width: 50%;}
	#link2 {padding-left:50px;width: 50%;}
	#link3 {padding-left:50px;width: 50%;}
	#link4 {padding-left:50px;width: 50%;}
	#link5 {padding-left:50px;width: 50%;}
	#link6 {padding-left:50px;width: 50%;}
	#link7 {padding-left:50px;width: 50%;}
	#link8 {padding-left:50px;width: 50%;}
	#link9 {padding-left:50px;width: 50%;}
	#block77{padding-right:130px;padding-left:50px;}
	#text60 p{display: inline-flex;flex-direction: column;align-items: baseline;margin-top: 0;width: 95%;}
	#cont2 {background-color:#ac966d;height:auto;display: flex;flex-direction: column;justify-content: center;}
	#cont2 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;}
	#cont3 {background-color:#ac966d;height: auto;display: flex;flex-direction: column;justify-content: center;width: 850px;padding-right: 50;}
	#cont3 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;}
	#arrow {width:75px;position: absolute;padding-top: 20%;padding-left: 5%;}
	#text88 {padding-left: 51px;}
	#vst {display: flex;height: auto;background-color: #ac966d;align-items: center;}
	#cont2 {padding-left:50px;padding-right: 5%;}
	#vstr {display:flex;flex-direction: row-reverse;background-color: #ac966d;align-items:center;height: auto;}
	#cont3 {padding-left:50px;}
	#item74 {width:80%;}
	#item79 {}
	#svg11 {width:550px;margin-left:-3px;margin-top: 10;}
	
	.tabs .tab{display: inline-block;padding: 1.5rem 2.8rem;cursor: pointer;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;text-decoration: none;color: #fff;font-size:13px;border: 0;border-radius: 0.375rem;background:#ac966d;opacity:0.6;}
	#btn34 {padding-left:20px;}
	#contacts {padding-top:100px;}
	.container .list .num h3 {position: relative;left: -1.5rem;color: #fff;font-size: 14px;transition: 0.5s;line-height: 18px;margin: 11px;}
	#cwr1 {width: 700;padding-top: 10px;margin-left: -250;padding-right: 0;}
	.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {color: #fff;text-decoration: none;outline: 0;opacity: .9;scale: 1.1;transition: 0.5s}
	#text85 {padding-top:0px;}
	.list {margin-top: 50;margin-left: -22;padding-bottom: 20;width: 90%;}
	.container .list .num:hover {background-color: #000;cursor: pointer;}
	.container .list .num:hover:before {opacity: 0.9;}
	.container .list .num:hover h3 {left: 1rem;}
	.container .list .num {padding: 0.5rem 0.2rem;display: flex;align-items: center;justify-content: flex-start;transition: 0.25s;}
	#section1 {display:flex;background-color:#000;}
	#section_01 {display:flex;background-color:#000;}
	.txt_l {padding-left:50px;padding-top:7%;width: 80%;}
	.btn_d {padding-left:50px;}
	.btns9 {padding-left:45px;}
	#btn43 {width:30%;}
	#btn44 {width:30%;}		
	.text100 {position: absolute;left: 15%;bottom: 15%;font-size: 35px;color: white;z-index:1;}
	.modal {position: fixed;padding-left:100px;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 9998;display: none;}
	.modal img {max-width: 80%;max-height: 9%;align:center;margin-top: 4%;margin-bottom: 5%;margin-left: auto;margin-right: auto;display: block;border-radius: 20px;z-index: 9999;}
	.modal-close {position: fixed;top: 50px;right: 50px;font-size: 36px;font-weight: bold;text-decoration: none;color: white;z-index:100;}
	.contt {width: 90%;padding: 50px;}
	.contt p {color:#ac966d;}

		svg {
    display: block;
    width: 100%;
    margin: 0 auto;
	opacity: 70%;
}

	#polygon_sale {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_sale:hover {
	opacity: 0.5;
	fill:#fff;
}
	#polygon_rent {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_rent:hover {
	opacity: 0.5;
	fill:#fff;
}
.rectangle{
	width: 220px;
    height: 220px;
    border: 1px solid;
    border-color: #ac966d;
    margin: 20;
}

.text_center{
	color: #ffffff;
	text-align: center;
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    

}
.text_center p{    font-size: 14px;    line-height: 18px;    padding-bottom: 15;}
.text_center h6{font-size:20px; line-height: 24px;}
.text_center_p{    font-size: 14px;    line-height: 18px;    padding-top: 10px; color:#fff; text-align:center;margin: 10;}
.text_center_h6{font-size:20px; line-height: 24px;color:#fff; text-align:center;padding-top: 10%;}
.inv1{    display: flex;}	
.content1 {padding-left:50px; padding-top:50px; padding-bottom:50px; padding-right:50px;    display: flex;}

#text65{display:none; }
}




@media screen and (max-width: 1540px) and (min-width: 1024px){
		#contact-form-3 {width: 50%;margin: 20% 50%;display: flex;background: black; padding: 20;}
		.btn_d {padding-left:50px;}
	#text51 {padding-left:51px;}
	#text52 {padding-left:51px;max-width:930px;}
	#text53 {padding-bottom:100px;}
	#btn21 {padding-left:41px;}

	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:100%;}
	#price {padding-left:1px; padding-right:1;}
	.imgblock {position: relative;display: flex;padding-left:1;flex-wrap:wrap;}
	.text1 {position: relative;left: 2%;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 24px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 13px;padding: 5px 7px;}	
	#block50 {padding:5px;}
	#carouselExampleControls11 {padding-left:0px;}
	#btn25 {left:173px;}
	#btn24 {margin-right:-20px;}
	#text54 {padding-top:10px;text-align:end;padding-right:60px;}
	#text55 {text-align:end;padding-right:25px;padding-top: 25;}
	h3{font-size:48px;line-height:54px}
	.imb{position:fixed;width:100%;height:100%;z-index:-1;filter: brightness(0.7)contrast(120%);}
	.text5 {position: absolute;left: 60px;bottom: 30%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 32px;padding: 5px 7px;}
	.text6 {position: absolute;left: 60px;top: 80%;max-width: 40%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 16px;padding: 5px 7px;}
	.text7 {position: absolute;left: 60px;top: 88%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 14px;padding: 5px 7px;}
	.text10 {position: absolute;left: 60px;bottom: 99%;font-size: 35px;color: white;}
	.cont-text2 h1{font-size: 36px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;padding-top: 20;}
	#text56 {background-color:#000;padding-left: 51px;}
	.tabs{    padding-left: 51px;
    /* background-color: #000; */
    padding-bottom: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 20px;
    position: absolute;
    z-index: 1;
    padding-top: 20;}
	.item{position: relative;padding-left:0px;width: 100%;height: auto;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.item_reverse{position: relative;width: 60%;height: auto;padding-left:50px;overflow:hidden;}
	.cont-text h1{font-size: 24px;font-weight: 32;font-style: normal;color: #fff;line-height: 1 em;letter-spacing: 0em;}
	.cont-text p{margin-top: 20px;margin-bottom: 5px;font-size: 12px;font-weight: 14;font-style: normal;color: #ac966d;line-height: 1.37em;letter-spacing: 0em;display: block;flex-direction: column; align-items: baseline;}
	.price p{margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:12px;line-height:14px;}
	.tabl th{text-align: center;padding-left:15px;font-size: 16px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:15px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{border-width: 0;margin: -22;padding-top: 5;}
	.content{display: flex;flex-direction:row;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.content-wrap {display:flex;padding-top: 5%;flex-wrap: wrap;padding-right: 270;}
	.item2{position: relative;}
	#block51 {padding-left:51px;}
	#block52 {padding-left:40%;padding-right:10%;}
	.padding-five-all {padding-top:50;}
	#block53 {padding-left:21px;}
	#block54 {padding-left:30px;padding-top:30px;}
	#block54 {padding-top:30px;}
	.no-margin-lr{margin-left:0 !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;padding:9px 34px;line-height:25px}
	#img55 {height:45em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 350px;}
	#link1 {padding-left:50px;width: 50%;}
	#link2 {padding-left:50px;width: 50%;}
	#link3 {padding-left:50px;width: 50%;}
	#link4 {padding-left:50px;width: 50%;}
	#link5 {padding-left:50px;width: 50%;}
	#link6 {padding-left:50px;width: 50%;}
	#link7 {padding-left:50px;width: 50%;}
	#link8 {padding-left:50px;width: 50%;}
	#link9 {padding-left:50px;width: 50%;}
	#block77{padding-right:100px;padding-left:50px;}
	#text60 p{display: inline-flex;flex-direction: column;align-items: baseline;margin-top:0;width: 95%;}
	#cont2 {background-color:#ac966d;height:auto;display: flex;flex-direction: column;justify-content: center;}
	#cont2 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;}
	#cont3 {background-color:#ac966d;height: auto;display: flex;flex-direction: column;justify-content: center;width: 850px;padding-right: 50;}
	#cont3 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;}
	#arrow {width:75px;position: absolute;padding-top: 20%;padding-left: 5%;}
	#text88 {padding-left: 51px;}
	#vst {display: flex;height: auto;background-color: #ac966d;align-items: center;}
	#cont2 {padding-left:50px;padding-right: 5%;}
	#vstr {display:flex;flex-direction: row-reverse;background-color: #ac966d;align-items:center;height: auto;}
	#cont3 {padding-left:50px;}
	#item74 {width:80%;}
	#item79 {}
	#svg11 {width:310px;margin-left:-3px;margin-top: 10;}
	#block55 {padding-top:50px;padding-right:50px;}
	.tabs .tab{display: inline-block;padding: 1.5rem 2.8rem;cursor: pointer;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;text-decoration: none;color: #fff;font-size:13px;border: 0;border-radius: 0.375rem;background:#ac966d;opacity:0.6;}
	#btn34 {padding-left:20px;}
	.container .list .num h3 {position: relative;left: -1.5rem;color: #fff;font-size: 14px;transition: 0.5s;line-height: 18px;margin: 11px;}
	#cwr1 {width: 700;padding-top: 10px;margin-left: -250;padding-right: 0;}
	.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {color: #fff;text-decoration: none;outline: 0;opacity: .9;scale: 1.1;transition: 0.5s}
	#text85 {padding-top:0px;}
	.list {margin-top: 10;margin-left: -22;width: 90%;}
	.container .list .num:hover {background-color: #000;cursor: pointer;}
	.container .list .num:hover:before {opacity: 0.9;}
	.container .list .num:hover h3 {left: 1rem;}
	.container .list .num {display: flex;align-items: center;justify-content: flex-start;transition: 0.25s;}
	#section1 {display:flex;background-color:#000;}
	#section_01 {display:flex;background-color:#000;}
	.txt_l {padding-left:50px;padding-top:5%;width: 90%;}
		.btns9 {padding-left:45px;}
	#btn43 {width:30%;}
	#btn44 {width:30%;}	
	.modal {position: fixed;padding-left:100px;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 9998;display: none;}
	.modal img {max-width: 80%;max-height: 9%;align:center;margin-top: 4%;margin-bottom: 5%;margin-left: auto;margin-right: auto;display: block;border-radius: 20px;z-index: 9999;}
	.modal-close {position: fixed;top: 50px;right: 50px;font-size: 36px;font-weight: bold;text-decoration: none;color: white;z-index:100;}

			svg {
    display: block;
    width: 100%;
    margin: 0 auto;
	opacity: 70%;
}

	#polygon_sale {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_sale:hover {
	opacity: 0.5;
	fill:#fff;
}
	#polygon_rent {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_rent:hover {
	opacity: 0.5;
	fill:#fff;
}
#tabs_inv{    position: absolute;
    margin-top: 210;
		
	}
	
	.rectangle{
	width: 180px;
    height: 180px;
    border: 1px solid;
    border-color: #ac966d;
    margin: 10;
}

.text_center{
	color: #ffffff;
	text-align: center;
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    

}
.text_center_p{    font-size: 11px;    line-height: 14px;    padding-top: 10px; color:#fff; text-align:center; margin: 10;}
.text_center_h6{font-size:16px; line-height: 18px;color:#fff; text-align:center; padding-top: 10%;}
.inv1{    display: flex;}	
.content1 {padding-left:50px; padding-top:50px; padding-bottom:50px; padding-right:50px;    display: flex;}
	#text65{display:none; }
}




@media screen and (max-width: 1024px) and (min-width: 576px) and (orientation:portrait){
		#contact-form-3 {width: 40%;margin: 20% 50%;display: flex;background: black; padding: 20;}
	.btn_d {display: block;width: 100%;padding-left: 3.5%;padding-right: 3.5%;}
	#colmd6 {width:100%;}
    #menu {display: none;}
	#section1 {padding-top: 25px;background-color: #000;display: flex;flex-direction: column-reverse;}
	#section_01 {padding-top: 25px;background-color: #000;display: flex;flex-direction: column-reverse;}
	#text51 {padding-bottom:12px;padding-left: 20;padding-right: 20;}
	#text52 {padding-bottom:40px;padding-left: 20;padding-right: 20;}
	#text53 {padding-bottom:0px;}
	#btn21 {padding-top: 0;padding-bottom: 0;display: flex;}
	#btn22 {padding-top: 0;display: flex;}
	#btn23 {padding-top: 0;display: flex;}
	#colmd {min-width:100%;}
	.padding-twenty-top{padding-top:20%;}
	#price {padding-left:5px; padding-right:5px;}
	.imgblock {position: relative;display: flex;padding-left:0px;flex-wrap:wrap;padding-top: 35;background-color: 000;}	
	.text1 {position: relative;bottom: 110px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 20px;padding: 5px 12px;}
	.text4 {position: relative;left: 5px;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 14px;padding: 5px 7px;}
	#block50 {padding-bottom: 10px;}
	#carouselExampleControls11 {padding-left:0px;}
	
	#btn25 {display: none;}
	#btn24 {display: none;}	
	#text54 {padding:15px;text-align:center;}
	#text55 {padding:10px;text-align:center;}
	h3{font-size:32px;}
	.imb{position:fixed;width:250%;z-index:-10;margin: 0 -500;filter: brightness(0.7)contrast(120%);}	
	.text5 {position: absolute;left: 3%;bottom: 250px;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 20px;}
	.text6 {position: absolute;left: 3%;top:280px;max-width: 40%;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 14px;line-height: 16px;}
	.cont-text2 h1{font-size: 20px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;padding-top:30px;padding-bottom:15px;padding-left: 25;}
	#text56 {background-color:#000;}
	.tabs{background-color:#000;padding-bottom:20px;overflow-x: scroll;align-items: center;flex-wrap: nowrap;padding-left: 25;}
	.item{position:relative;width:100%;height:auto;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;flex-direction: column;}
	.item_reverse{position: relative;width:100%;height:auto;overflow:hidden;}
	.content-wrap_reverse {display: flex;flex-wrap: wrap;}
	.cont-text h1{padding-left: 20;padding-right: 20;font-size: 28px;font-weight: 32;font-style: normal;color: #fff;line-height: 32px;letter-spacing: 0em;margin-bottom: 10px;}
	.cont-text p{padding-left: 20;padding-right: 20;margin-bottom: -5px;font-size: 14px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 20px;letter-spacing: 0em;}
	.cont-text h6 {padding-left: 20;padding-right: 20;}
	.price p{margin-bottom: 5px;font-size: 12px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:16px;line-height:20px}
	.cont-text {padding-top: 25px;width: 100%;padding-right: var(--bs-gutter-x,.75rem);padding-left: var(--bs-gutter-x,1.5rem);margin-right: auto;margin-left: auto;}
	.tabl th{text-align: center;padding-left:30px;font-size: 18px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{border-width: 0;padding-top:20px;}
	.tabs-items .item.on {display: flex;}
	.content{display: flex;flex-direction:column;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;padding-top:20px;align-items: center;}
	.content-wrap {display:flex;flex-wrap:wrap;}
	.item2{position: relative;width: 100%;}
	#block51{padding-top:40px;}
	#block52 {}
	.tabs-items2 .item.on {display: flex;height:465px;}
	.padding-five-all{padding:1%;}
	#block53 {text-align:center;}
	#block54 {text-align:center;}
	.cont-text img {align-items:center; max-width:95%;}
	.tab-wrap tab {}
	.no-margin-lr{margin-left:3% !important;margin-right:3% !important}
	.btn.btn-large{font-size:14px;line-height:25px;margin-bottom: 9px;padding: 7;}
	#img55 {height:50em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 365px;}
	#arrow {display:none;}
	#vst {display:none;}
	#vstr {display:none;}
	.tabs .tab{display: inline-block;padding: 1.5rem .8rem;cursor: pointer;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;text-decoration: none;color: #ac966d;font-size:13px;border: 0;border-radius: 0.375rem;background: 0 0;min-width: fit-content;}
	#svg11 {padding: 25;}
	.carousel2 {padding-top:25px;}
	.container .list .num h3 {position: relative;left: -1.5rem;color: #fff;font-size: 14px;transition: 0.5s;}
	#block52 {height:400px;}
	#contact-us-button-2 {margin-left: 0px !important;}
	#contact-form-2 {padding-top:170px;}
	#btn30 {margin: 20;}
	#btn32 {padding: 7 130;width:90%}
	.text10 {position: absolute;left: 3%;bottom: 100%;font-size: 24px;color: white;}
	#btn29 {margin:0;display:flex;flex-direction: column;}
	#block44 {padding-top:20px;}
	.container .list .num:hover {background-color: #000;cursor: pointer;}
	.container .list .num:hover:before {opacity: 0;}
	.container .list .num {padding-right:15;padding-top: 15;display: flex;align-items: center;justify-content: flex-start;transition: 0.25s;}
	#btns9 {padding-top:20;}
	.list {padding-bottom:20px;}
	#text60 {padding-top:25px;}
	.txt_l {background-color: #000;}
	.btns9 {width: 100%;margin-left: 3%;}
	#btn43 {width:30%;}
	#btn44 {width:30%;}	
	.modal {position: fixed;top: 50;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 9998;display: none;}
	.modal img {max-width: 80%;max-height: 9%;align:center;margin-top: 4%;margin-bottom: 5%;margin-left: auto;margin-right: auto;display: block;border-radius: 20px;z-index: 9999;}
	.modal-close {position: fixed;top: 50px;right: 50px;font-size: 36px;font-weight: bold;text-decoration: none;color: white;z-index:100;}
			svg {
    display: block;
    width: 100%;
    margin: 0 auto;
	opacity: 70%;
}

	#polygon_sale {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_sale:hover {
	opacity: 0.5;
	fill:#fff;
}
	#polygon_rent {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_rent:hover {
	opacity: 0.5;
	fill:#fff;
}
#tabs_inv{    position: absolute;
    margin-top: 270;
		
	}
	
	.rectangle{
	width: 180px;
    height: 180px;
    border: 1px solid;
    border-color: #ac966d;
    margin: 10;
}

.text_center{
	color: #ffffff;
	text-align: center;
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    

}
.text_center_p{    font-size: 12px;    line-height: 18px;    padding-top: 10px; color:#fff; text-align:center; margin: 10;}
.text_center_h6{font-size:20px; line-height: 18px;color:#fff; text-align:center; padding-top: 10%;}
.inv1{    display: flex;}		

	#btn41 {display:flex;}
	.content1 {padding-left:50px; padding-top:50px; padding-bottom:50px; padding-right:50px;    display: flex;}
	#text66{display:none; }
}


@media screen and (max-width: 575px) and (orientation:portrait){
		#contact-form-3 {width: 90%;margin: 20% 5%;display: flex;background: black; padding: 20;}
	screen.orientation.lock(portrait);
	#colmd6 {width:100%;}
    #menu {display: none;}
	#section1 {background-color: #000;display: flex;flex-direction: column-reverse;}
	#section_01 {background-color: #000;display: flex;flex-direction: column-reverse;}
	#text51 {padding-bottom:12px;padding-left: 20;padding-right: 20;}
	#text52 {padding-bottom:40px;padding-left: 20;padding-right: 20;}
	#text53 {padding-bottom:0px;}
	#btn21 {padding:0px;display:flex;align-items: stretch;}
	#btn22 {padding:0px;display:flex;align-items: stretch;}
	#btn23 {padding:0px;display:flex;align-items: stretch;}
	.one-fifth-screen{height:855px;}
	.padding-twenty-top{padding-top:20%;}
	#price {padding-left:5px; padding-right:5px;}
	.imgblock {position: relative;display: flex;padding-left:0px;flex-wrap:wrap;padding-top: 35;background-color: 000;}	
	.text1 {position: relative;left: 5px;bottom: 40px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 20px;padding: 5px 20px;}
	.text4 {position: relative;left: 5px;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 10.1px;padding: 5px 7px;display: none;}
	#block50 {padding-bottom: 40px;}
	#carouselExampleControls11 {padding-left:0px;}
	#btn23 {display: none;}	
	#btn25 {display: none;}
	#btn24 {display: none;}	
	#text54 {padding:15px;text-align:center;}
	#text55 {padding:10px;text-align:center;}
	h3{font-size:32px;}
	.imb{position:fixed;width:310%;z-index:-10;filter: brightness(0.7)contrast(120%);left: -350;}	
	.text5 {position: absolute;left: 150px;bottom: 60%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 20px;}
	.text6 {position: absolute;left: 150px;top:61%;max-width: 40%;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 14px;line-height: 16px;}
	.cont-text2 h1{font-size: 20px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;padding-top:30px;padding-bottom:15px;padding-left: 25;}
	#text56 {background-color:#000;text-align: center;}
	.tabs{background-color:#000;padding-bottom:20px;overflow-x: scroll;align-items: center;flex-wrap: nowrap;display: flex;justify-content: center;}
	.item{position:relative;width:100%;height:auto;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;flex-direction: column;}
	.item_reverse{position: relative;width:100%;height:auto;overflow:hidden;}
	.content-wrap_reverse {display: flex;flex-wrap: wrap;}
	.cont-text h1{padding-left: 20;padding-right: 20;font-size: 28px;font-weight: 32;font-style: normal;color: #fff;line-height: 32px;letter-spacing: 0em;margin-bottom: 10px;}
	.cont-text p{padding-left: 20;padding-right: 20;margin-bottom: -5px;font-size: 16px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 20px;letter-spacing: 0em;}
	.cont-text h6 {padding-left: 20;padding-right: 20;}
	.price p{margin-bottom: 5px;font-size: 12px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:16px;line-height:20px}
	.cont-text {padding-top: 25px;width: 100%;padding-right: var(--bs-gutter-x,.75rem);padding-left: var(--bs-gutter-x,.75rem);margin-right: auto;margin-left: auto;}
	.tabl th{text-align: center;padding-left:30px;font-size: 18px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{ display: none;}
	.tabs-items .item.on {display: flex;}
	.content{display: flex;flex-direction:column;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.content-wrap {display:flex;flex-wrap:wrap;}
	.item2{position: relative;width: 100%;}
	#block51{padding-top:40px;}
	#block52 {}
	.tabs-items2 .item.on {display: flex;}
	.padding-five-all{padding:1%;}
	#block53 {text-align:center;}
	#block54 {text-align:center;}
	.cont-text img {align-items:center; max-width:95%;}
	.tab-wrap tab {}
	.no-margin-lr{margin-left:19px !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;line-height:25px;margin-bottom: 9px;padding: 7;}
	#img55 {height:40em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 280px;}
	#arrow {display:none;}
	#vst {display:none;}
	#vstr {display:none;}
	.tabs .tab{display: inline-block;padding: 1.5rem .8rem;cursor: pointer;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;text-decoration: none;color: #ac966d;font-size:13px;border: 0;border-radius: 0.375rem;background: 0 0;min-width: fit-content;}
	#svg11 {padding: 25;}
	.carousel2 {padding-top:25px;}
	.container .list .num h3 {position: relative;left: -1.5rem;color: #fff;font-size: 14px;transition: 0.5s;}
	#block52 {height:400px;}
	#contact-us-button-2 {margin-left: 0px !important;}
	#contact-form-2 {padding-top:170px;}
	#btn30 {margin: 20;}
	#btn32 {padding: 7 130;}
	#carousel_01 {width:200%;transform: translate(-15%, 0%);}
	.text10 {position: absolute;left: 150px;bottom: 100%;font-size: 24px;color: white;}
	#btn29 {margin-left: 5%;margin-right: 5%;width: 90%;}
	#block44 {padding-top:20px;}
	.container .list .num:hover {background-color: #000;cursor: pointer;}
	.container .list .num:hover:before {opacity: 0;}
	.container .list .num {padding-left:15; padding-right:15;padding-top: 15;display: flex;align-items: center;justify-content: flex-start;transition: 0.25s;}
	.btns9 {padding-top:20;margin-left:5%;}
	.list {padding-bottom:20px;}
	#text60 {padding-top:25px;}
	#text66{display:none; }
	.txt_l {background-color: #000;}
	#btn43 {width:50%;}
	#btn44 {width:50%;}	
	.carousel-control-prev-icon {display:none;}
	.carousel-control-next-icon {display:none;}
	.modal {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 9998;display: none;}
	.modal img {max-width: 80%;max-height: 9%;align:center;margin-top: 4%;margin-bottom: 5%;margin-left: auto;margin-right: auto;display: block;border-radius: 20px;z-index: 9999;}
	.modal-close {position: fixed;top: 50px;right: 50px;font-size: 36px;font-weight: bold;text-decoration: none;color: white;z-index:100;}
		.text100 {position: absolute;left: 18%;bottom: 10%;font-size: 18px;color: white;z-index:1;}
					svg {
    display: block;
    width: 150%;
    margin: 0 auto;

}

	#polygon_sale {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_sale:hover {
	opacity: 0.5;
	fill:#fff;
}
	#polygon_rent {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_rent:hover {
	opacity: 0.5;
	fill:#fff;
}
#tabs_inv{    position: relative;
    margin-top: 50;
	display: flex;
    justify-content: center;
		
	}
	
	.rectangle{
	width: 90%;
    height: 180px;
    border: 1px solid;
    border-color: #ac966d;
    margin: 10;
}

.text_center{
	color: #ffffff;
	text-align: center;
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    

}
.text_center_p{    font-size: 12px;    line-height: 18px;    padding-top: 10px; color:#fff; text-align:center; margin: 10;}
.text_center_h6{font-size:20px; line-height: 18px;color:#fff; text-align:center; padding-top: 10%;}
.inv1{    display: flex;
    flex-direction: column;
    align-items: center;}		

	#btn41 {display:flex;
	align-items: stretch;
	padding-right: 4%;}
	
.block2 {width: 100%;}
.content1 {padding-left:10px; padding-top:0px; padding-bottom:5px; padding-right:10px;    display: flex;    flex-direction: column;}

}


@media screen and (max-width: 1023px) and (orientation:landscape){
		#contact-form-3 {width: 40%;margin: 20% 50%;display: flex;background: black; padding: 20;}
	.btn_d {padding-left:2%;display:none}
	#text51 {padding-left:21px;}
	#text52 {padding-left:21px;max-width:930px;padding-top: 10;}
	#text53 {padding-bottom:2%;}
	#btn21 {padding-left:11px;}
	#btn22 {padding-left:11px;}
	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:100%;}
	#price {padding-left:1px; padding-right:1;}
	.imgblock {position: relative;display: flex;padding-left:1;flex-wrap:wrap;line-height: 2.3;}
	.text1 {position: relative;left: 2%;bottom: 50px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 16px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 8px;opacity: 0;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 8px;padding: 5px 7px;}	
	#block50 {padding:3px;}
	#carouselExampleControls11 {padding-left:0px;}
	.carousel-indicators {padding-left:15%;}
	#btn25 {left:205px;display: none;}
	#btn24 {display: none;}
	#text54 {padding-top:10px;text-align:end;padding-right:60px;}
	#text55 {text-align:end;padding-right:25px;padding-top: 25;}
	h3{font-size: 28px;line-height: 36px;}
	.imb{position:fixed;z-index:-1;filter: brightness(0.7)contrast(120%);width: 130%;}
	.text5 {position: absolute;left: 2%;bottom: 93%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 16px;}
	.text6 {position: absolute;left: 2%;top: 40%;max-width: 50%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 12px;}
	.text7 {position: absolute;left: 2%;top: 75%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 12px;}
	.text10 {position: absolute;left: 2%;top:10%;font-size: 16px;color: white;}
	.cont-text2 h1{font-size: 18px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;padding-top: 20;}
	#text56 {background-color:#000;padding-left: 51px;}
	.tabs{padding-left:1px;background-color:#000;padding-bottom:20px;overflow-x: scroll;align-items: center;flex-wrap: nowrap;}
	.item{position: relative;padding-left:0px;width: 100%;height: auto;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.item_reverse{position: relative;width: 60%;height: auto;padding-left:50px;overflow:hidden;}
	.cont-text h1{font-size: 16px;font-weight: 32;font-style: normal;color: #fff;line-height: 1 em;letter-spacing: 0em;}
	.cont-text p{margin-top: 20px;margin-bottom: 5px;font-size: 12px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 1.1em;letter-spacing: 0em;display: block;flex-direction: column; align-items: baseline;}
	.price p{margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:10px;line-height:10px;}
	.tabl th{text-align: center;padding-left:30px;font-size: 24px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{display:none; border-width: 0;padding-top:70px;}
	.content{display: flex;flex-direction:row;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;letter-spacing: 0em;}
	.content-wrap {display:flex;padding-top: 5%;flex-wrap: wrap;}
	.item2{position: relative;}
	#block51 {padding-left:51px;}
	#block52 {padding-left:1px;}
	.padding-five-all {padding:15%;}
	#block53 {padding-left:21px;}
	#block54 {padding-left:30px;padding-top:30px;}
	#block54 {padding-top:30px;}
	.no-margin-lr{margin-left:0 !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;padding:9px 34px;line-height:25px;width:50%;}
	#img55 {height:250px;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 255px;flex-direction: column-reverse;}
	#link1 {padding-left:50px;width: 50%;}
	#link2 {padding-left:50px;width: 50%;}
	#link3 {padding-left:50px;width: 50%;}
	#link4 {padding-left:50px;width: 50%;}
	#link5 {padding-left:50px;width: 50%;}
	#link6 {padding-left:50px;width: 50%;}
	#link7 {padding-left:50px;width: 50%;}
	#link8 {padding-left:50px;width: 50%;}
	#link9 {padding-left:50px;width: 50%;}
	#block77{padding-right: 2%;padding-left: 2%;}
	#text60 p{flex-direction: column;align-items: baseline;margin-top:20;}
	#cont2 {background-color:#ac966d;height:auto;display: flex;flex-direction: column;justify-content: center;}
	#cont2 h1{font-size: 14px;font-weight: 18;font-style: normal;color: #fff;}
	#cont3 {background-color:#ac966d;height: auto;display: flex;flex-direction: column;justify-content: center;padding-right: 50;}
	#cont3 h1{font-size: 14px;font-weight: 32;font-style: normal;color: #fff;}
	#arrow {width:75px;position: absolute;padding-top: 20%;padding-left: 5%;}
	#text88 {padding-left: 51px;}
	#vst {display: flex;height: auto;background-color: #ac966d;align-items: center;}
	#cont2 {padding-left:2%;padding-right: 2%;}
	#vstr {display:flex;flex-direction: row-reverse;background-color: #ac966d;align-items:center;height: auto;}
	#cont3 {padding-left:2%;padding-right:2%;}
	#item74 {width:80%;}
	#item79 {}
	#svg11 {width:50%;margin-left:-3px;}
	#block55 {padding-top:150px;}
	.tabs .tab{display: inline-block;padding: 1.5rem .8rem;cursor: pointer;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;text-decoration: none;color: #ac966d;font-size:13px;border: 0;border-radius: 0.375rem;background: 0 0;min-width: fit-content;}

	.container .list .num h3 {position: relative;left: -1.5rem;color: #fff;font-size: 12px;transition: 0.5s;line-height: 12px;margin: 11px;}
	#cwr1 {width: 700;padding-top: 10px;margin-left: -250;padding-right: 0;}
	.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {color: #fff;text-decoration: none;outline: 0;opacity: .9;scale: 1.1;transition: 0.5s}
	#text85 {padding-top:0px;}
	.list {margin-top: 10;margin-left: -22;padding-bottom: 20;}
	.container .list .num:hover {background-color: #000;cursor: pointer;}
	.container .list .num:hover:before {opacity: 0.9;}
	.container .list .num:hover h3 {left: 1rem;}
	.container .list .num {display: flex;align-items: center;justify-content: flex-start;transition: 0.25s;}
	#section1 {display:flex;background-color:#000;}
	#section_01 {display:flex;background-color:#000;}
	.txt_l {padding-left: 2%;padding-right: 2%;padding-top: 5%;}
	.btns9 {display:none;}
		#btn43 {width:30%;}
	#btn44 {width:30%;}	
	.modal {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.8);z-index: 9998;display: none;}
	.modal img {max-width: 80%;max-height: 9%;align:center;margin-top: 4%;margin-bottom: 5%;margin-left: auto;margin-right: auto;display: block;border-radius: 20px;z-index: 9999;}
	.modal-close {position: fixed;top: 50px;right: 50px;font-size: 36px;font-weight: bold;text-decoration: none;color: white;z-index:100;}
	.menu_frame {overflow-y:scroll;}
	.menu_bottom {bottom:-15em;}
	.social {bottom:-6.5em}
	.carousel-control-prev-icon {display:none;}
	.carousel-control-next-icon {display:none;}
	.text100 {position: absolute;left: 15%;bottom: 10%;font-size: 18px;color: white;z-index:1;}
				svg {
    display: block;
    width: 100%;
    margin: 0 auto;
	opacity: 70%;
}

	#polygon_sale {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_sale:hover {
	opacity: 0.5;
	fill:#fff;
}
	#polygon_rent {
	opacity: 0.8;
	fill: #fff;
}

	#polygon_rent:hover {
	opacity: 0.5;
	fill:#fff;
}
#tabs_inv{    position: absolute;
    margin-top: 270;
		
	}
	
	.rectangle{
	width: 180px;
    height: 180px;
    border: 1px solid;
    border-color: #ac966d;
    margin: 10;
}

.text_center{
	color: #ffffff;
	text-align: center;
	display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    

}
.text_center_p{    font-size: 12px;    line-height: 18px;    padding-top: 10px; color:#fff; text-align:center; margin: 10;}
.text_center_h6{font-size:20px; line-height: 18px;color:#fff; text-align:center; padding-top: 10%;}
.inv1{    display: flex;}		

	#btn41 {display:flex;}
	.content1 {padding-left:50px; padding-top:50px; padding-bottom:50px; padding-right:50px;    display: flex;}
	#text66{display:none; }
}	
