@media screen and (min-width: 1600px) {
	#text51 {padding-left:250px;}
	#text52 {padding-left:250px;}
	#text53 {padding-bottom:100px;}
	#btn21 {padding-left:250px;}
	#btn22 {padding-left:20px;}
	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:100%;}
	#price {padding-left:200px; padding-right:1%;}
	.imgblock {position: relative;display: flex;padding-left:1%;flex-wrap:wrap;}
	.text1 {position: relative;left: 2%;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 24px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 13px;padding: 5px 7px;}	
	#block50 {padding:1%;}
	#carouselExampleControls11 {padding-left:195px;}
	#btn23 {padding-left:250px;}
	#text54 {padding-top:10px;text-align:end;padding-right:60px;}
	#text55 {text-align:end;padding-right:60px;}
	h3{font-size:48px;line-height:54px}
	.imb{position:fixed;width:100%;height:100%;z-index:-10;}
	.text5 {position: absolute;left: 60px;bottom: 30%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 32px;padding: 5px 7px;}
	.text6 {position: absolute;left: 60px;top: 80%;max-width: 40%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text7 {position: absolute;left: 60px;top: 89%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 14px;padding: 5px 7px;}
	.text10 {position: absolute;left: 60px;bottom: 90%;font-size: 35px;color: white;}
	.cont-text2 h1{font-size: 36px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;}
	#text56 {background-color:#000;padding-right:29%;}
	.tabs{padding-left:250px;background-color:#000;padding-bottom:20px;display:flex;flex-wrap:wrap;justify-content:flex-end;align-items: center;padding-top:20px;}
	.item{position: relative;padding-left:195px;width: 100%;height: 800px;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.item_reverse{position: relative;width: 60%;height: 800px;padding-left:50px;overflow:hidden;}
	.content-wrap_reverse {display: flex;padding-top: 100px;flex-wrap: wrap;}
	.cont-text h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;}
	.cont-text p{margin-top: 5px;margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 1.37em;letter-spacing: 0em;display: block;flex-direction: column; align-items: baseline;}
	.price p{margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:18px;line-height:20px}
	.cont-text {float:left;max-width: 750px;padding-right:50px;height: 100px;}
	.tabl th{text-align: center;padding-left:30px;font-size: 24px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{border-width: 0;padding-top:70px;}
	.content{display: flex;flex-direction:row;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.content-wrap {display:flex;padding-top: 100px;flex-wrap: wrap;padding-right:220px;}
	.item2{position: relative;width: 90%;height: 715px;}
	#block51 {padding-left:250px;}
	#block52 {padding-left:200px;}
	.padding-five-all {padding:15%;}
	#block53 {padding-left:220px;}
	#block54 {padding-left:30px;padding-top:30px;}
	#block54 {padding-top:30px;}
	.no-margin-lr{margin-left:0 !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;padding:9px 34px;line-height:25px}
	#img55 {height:45em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 350px;}
	#link1 {padding-left:50px;}
	#link2 {padding-left:50px;}
	#link3 {padding-left:50px;}
	#link4 {padding-left:50px;}
	#link5 {padding-left:50px;}
	#block77{padding-right:50px;width:800px;}
	#item77 {height:800px;}
	#text60 p{display: inline-flex;flex-direction: column;align-items: baseline;}
	#cont2 {background-color:#000;height:300px;display: flex;flex-direction: column;justify-content: center;width: 1120px;}
	#cont2 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #ac966d;}
	#cont3 {background-color:#000;height:300px;display: flex;flex-direction: column;justify-content: center;width: 1150px;}
	#cont3 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #ac966d;}
	#arrow {width:75px;position: absolute;padding-top: 20%;padding-left: 5%;}
	#text88 {padding-right:7%;}
	#vst {display:flex;width: max-content;}
	#vst01 {width:50%;}
	#cont2 {padding-left:250px;}
	#vstr {display:flex;width: max-content;flex-direction: row-reverse;}
	#vst02 {width:1059px;}
	#cont3 {padding-left:50px;}
	#img99 {padding-left:55px;}
	#block71 {padding-left:250px;}
	#item77 {}
	#item79 {}
	#img98 {padding-left:250px;}

}
}



@media screen and (max-width: 1599px){
	
	#text51 {padding-left:250px;}
	#text52 {padding-left:250px;}
	#text53 {padding-bottom:100px;}
	#btn21 {padding-left:250px;}
	#btn22 {padding-left:20px;}
	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:890px;}
	#price {padding-left:200px; padding-right:1%;}
	.imgblock {position: relative;display: flex;padding-left:1%;flex-wrap:wrap;}
	.text1 {position: relative;left: 2%;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 24px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 11px;padding: 5px 7px;}	
	#block50 {padding:1%;}
	#carouselExampleControls11 {padding-left:195px;}
	#btn23 {padding-left:250px;}
	#text54 {padding-top:10px;text-align:end;padding-right:60px;}
	#text55 {text-align:end;padding-right:60px;}
	h3{font-size:48px;line-height:54px}
	.imb{position:fixed;width:100%;height:100%;z-index:-10;}
	.cont-text2 h1{font-size: 36px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;}
	#text56 {background-color:#000;padding-right:500px;}
	.tabs{padding-left:250px;background-color:#000;padding-bottom:20px;display:flex;flex-wrap:wrap;justify-content:flex-end;align-items: center;padding-top:20px;}
	.item{position: relative;padding-left:195px;width: 100%;height: 800px;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.item_reverse{position: relative;width: 60%;height: 800px;padding-left:50px;overflow:hidden;}
	.content-wrap_reverse {display: flex;padding-top: 100px;flex-wrap: wrap;}
	.cont-text h1{font-size: 32px;font-weight: 32;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;}
	.cont-text p{margin-top: 5px;margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 1.37em;letter-spacing: 0em;display: block;flex-direction: column; align-items: baseline;}
	.price p{margin-bottom: 5px;font-size: 18px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:16px;line-height:20px}
	.cont-text {float:left;max-width: 750px;padding-right:50px;height: 100px;}
	.tabl th{text-align: center;padding-left:30px;font-size: 24px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{border-width: 0;padding-top:70px;}
	.content{display: flex;flex-direction:row;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;}
	.content-wrap {display:flex;padding-top: 100px;flex-wrap: wrap;padding-right:220px;}
	.item2{position: relative;width: 90%;height: 760px;}
	#block51 {padding-left:250px;}
	#block52 {padding-left:200px;}
	.padding-five-all {padding:15%;}
	#block53 {padding-left:220px;}
	#block54 {padding-left:30px;padding-top:30px;}
	#block54 {padding-top:30px;}
	.no-margin-lr{margin-left:0 !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;padding:9px 34px;line-height:25px}
	#img55 {height:45em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 350px;}
	#link1 {padding-left:50px;}
	#link2 {padding-left:50px;}
	#link3 {padding-left:50px;}
	#link4 {padding-left:50px;}
	#link5 {padding-left:50px;}
	#block77{padding-right:50px;width:800px;}
	#item77 {height:800px;}
	#text60 p{display: inline-flex;flex-direction: column;align-items: baseline;}
	#cont2 {background-color:#000;height:300px;display: flex;flex-direction: column;justify-content: center;}
	#cont2 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #ac966d;}
	.text5 {position: absolute;left: 60px;bottom: 30%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 32px;padding: 5px 7px;}
	.text6 {position: absolute;left: 60px;top: 80%;max-width: 40%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text7 {position: absolute;left: 60px;top: 89%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text10 {position: absolute;left: 60px;bottom: 90%;font-size: 35px;color: white;}
	#arrow {width:150px;position: absolute;padding-top: 20%;padding-left: 5%;}
}

@media screen and (max-width: 1400px){
	
	#text51 {padding-left:250px;}
	#text52 {padding-left:250px;}
	#text53 {padding-bottom:100px;}
	#btn21 {padding-left:250px;}
	#btn22 {padding-left:20px;}
	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:890px;}
	#price {padding-left:200px; padding-right:1%;}
	.imgblock {position: relative;display: flex;padding-left:1%;flex-wrap:wrap;}
	.text1 {position: relative;left: 2%;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 24px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 10px;padding: 5px 7px;}	
	#block50 {padding:1%;}	
	#btn23 {padding-left:250px;}
	#cont2 {background-color:#000;height:300px;display: flex;flex-direction: column;justify-content: center;}
	#cont2 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #ac966d;}
	.text5 {position: absolute;left: 60px;bottom: 30%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 32px;padding: 5px 7px;}
	.text6 {position: absolute;left: 60px;top: 80%;max-width: 40%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text7 {position: absolute;left: 60px;top: 89%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text10 {position: absolute;left: 60px;bottom: 90%;font-size: 35px;color: white;}
	#arrow {width:150px;position: absolute;padding-top: 20%;padding-left: 5%;}
}

@media screen and (max-width: 1200px){
		
	#text51 {padding-left:250px;}
	#text52 {padding-left:250px;}
	#text53 {padding-bottom:100px;}
	#btn21 {padding-left:250px;}
	#btn22 {padding-left:20px;}
	.padding-twenty-top{padding-top:20%;}
	.one-fifth-screen{height:890px;}
	#price {padding-left:200px; padding-right:1%;}
	.imgblock {position: relative;display: flex;padding-left:1%;flex-wrap:wrap;}
	.text1 {position: relative;left: 2%;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 24px;padding: 5px 7px;}
	.text4 {position: relative;left: 2%;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 9px;padding: 5px 7px;}	
	#block50 {padding:1%;}
	#btn23 {padding-left:250px;}
	#cont2 {background-color:#000;height:300px;display: flex;flex-direction: column;justify-content: center;}
	#cont2 h1{font-size: 32px;font-weight: 32;font-style: normal;color: #ac966d;}
	.text5 {position: absolute;left: 60px;bottom: 30%;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 32px;padding: 5px 7px;}
	.text6 {position: absolute;left: 60px;top: 80%;max-width: 40%;display:flex;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text7 {position: absolute;left: 60px;top: 89%;max-width: 40%;display:flex;}
	.text7 span {color: #fff;border-radius: 5px;font-size: 18px;padding: 5px 7px;}
	.text10 {position: absolute;left: 60px;bottom: 90%;font-size: 35px;color: white;}
	#arrow {width:150px;position: absolute;padding-top: 20%;padding-left: 5%;}
}

@media screen and (max-width: 575px) {
    #menu {display: none;}
	#text51 {padding-bottom:20px;}
	#text52 {padding-bottom:10px;}
	#text53 {padding-bottom:0px;}
	#btn21 {padding-left:0px;}
	#btn22 {padding-left:0px;}
	.one-fifth-screen{height:700px;}
	.padding-twenty-top{padding-top:20%;}
	#price {padding-left:5px; padding-right:5px;}
	.imgblock {position: relative;display: flex;padding-left:0px;flex-wrap:wrap;}	
	.text1 {position: relative;left: 5px;bottom: 100px;}
	.text1 span {color: #fff;border-radius: 5px;font-size: 20px;padding: 5px 7px;}
	.text4 {position: relative;left: 5px;bottom: 16px;}
	.text4 span {color: #fff;border-radius: 5px;font-size: 12px;padding: 5px 7px;}
	#block50 {padding:2px;}
	#carouselExampleControls11 {padding-left:0px;}
	#btn23 {padding-left:0px;}	
	#text54 {padding:15px;text-align:center;}
	#text55 {padding:10px;text-align:center;}
	h3{font-size:24px;line-height:40px}
	.imb{position:fixed;width:150%;height:150%;z-index:-10;}	
	.text5 {position: absolute;left: 5px;bottom: 90px;}
	.text5 span {color: #fff;border-radius: 5px;font-size: 20px;padding: 5px 7px;}
	.text6 {position: absolute;left: 40px;top:90px;max-width: 60%;display:none;}
	.text6 span {color: #fff;border-radius: 5px;font-size: 12px;padding: 5px 7px;}
	.cont-text2 h1{font-size: 20px;font-weight: 24;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;text-align:center;padding-top:30px;padding-bottom:15px;}
	#text56 {background-color:#000;}
	.tabs{background-color:#000;padding-bottom:20px;display:contents;}
	.item{position:relative;width:100%;height:auto;}
	.content_reverse{display: flex;flex-direction:row-reverse;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;flex-direction: column;}
	.item_reverse{position: relative;width:100%;height:auto;overflow:hidden;}
	.content-wrap_reverse {display: flex;padding-top: 10px;flex-wrap: wrap;}
	.cont-text h1{font-size: 20px;font-weight: 32;font-style: normal;color: #fff;line-height: 1.4em;letter-spacing: 0em;}
	.cont-text p{margin-top: 5px;margin-bottom: 5px;font-size: 12px;font-weight: 18;font-style: normal;color: #ac966d;line-height: 2em;letter-spacing: 0em;}
	.price p{margin-bottom: 5px;font-size: 12px;font-weight: 18;font-style: normal;color: #fff;line-height: 1.37em;letter-spacing: 0em;}
	h6{font-size:12px;line-height:18px}
	.cont-text {max-width:95%;padding-left:10px;}
	.tabl th{text-align: center;padding-left:30px;font-size: 18px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl td{text-align: center;padding-left:30px;font-size: 12px;font-weight: 12;font-style: normal;color: #ac966d;}
	.tabl{border-width: 0;padding-top:20px;}
	.tabs-items .item.on {display: flex;}
	.content{display: flex;flex-direction:column;max-width: 100%;margin: 0 auto;background-color: #000000;font-size: 18px;font-style: normal;color: #000;line-height: 1.4em;letter-spacing: 0em;padding-top:20px;}
	.content-wrap {display:flex;flex-wrap:wrap;}
	.item2{position: relative;width: 100%;height: 370px;}
	#block51{padding-top:20px;}
	#block52 {}
	.tabs-items2 .item.on {display: flex;height:240px;}
	.padding-five-all{padding:1%;}
	#block53 {text-align:center;}
	#block54 {text-align:center;}
	.cont-text img {align-items:center; max-width:95%;}
	.tab-wrap tab {}
	.no-margin-lr{margin-left:19px !important;margin-right:0 !important}
	.btn.btn-large{font-size:14px;padding:15px 122px;line-height:25px;margin-bottom: 9px;}
	#img55 {height:40em;border-radius:20px;box-sizing: border-box;}
	.qqq{display:inline-flex;position: relative;left: 20px;bottom: 310px;}
}
